:root{
    --primary-dark: #34495E;
    --primary-color:#ffffff;
}
body{
    background-image:url("photo/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:var(--primary-dark);
    font-family: 'Dancing Script', cursive;
    margin:0px;
}

.title{
    font-size:4rem;
    margin-top:2rem;
    text-align:center;
    font-weight:400;
}

.container{
    color:var(--primary-dark);
    font-weight:400;
    margin:1rem 2rem 1rem;
    padding:2rem;
    width:400px;
}

.label {
    border-radius:10px;
    border-color:var(--primary-dark);
    display: block;
    font-size:2rem;
}

.fields {
    border-radius:10px;
    border-color:var(--primary-dark);
    display: block;
    font-size:1rem;
    margin: 1rem 0rem 1rem; 
    padding:0.5rem;
    width: 100%;
}

#check-number{
    background-color:var(--primary-color);
    border-color:var(--primary-dark);
    border-radius:0.3rem;
    border-width:medium;
    color:var(--primary-dark);
    cursor:pointer;
    display: block;
    font-size:1rem;
    margin: auto;
    padding:0.5rem;
}
#check-number:hover{
    background-color: var(--primary-dark);
    color:var(--primary-color);
}

#message{
    color:var(--primary-dark);
    font-size: 2rem;
    font-weight:400;
    margin:1rem;
    padding:1rem;    
}